.content {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 0 0 30px -2px;
  padding: 10px;
  text-align: -webkit-center;
}

.tableTrack {
  margin-bottom: 20px;
  border: solid 1px gray;
}
