<div class="content" *ngIf="calculatedTracks && calculatedTracks.length">
    <table class="tableTrack" *ngFor="let track of calculatedTracks; index as i">
      <tr>
        <th colspan="2">
          Track {{ i + 1 }}
        </th>
      </tr>
      <tr *ngFor="let session of track.Sessions">
        <td>{{ session.StartTime }}</td>
        <td>{{ session.Talk.Title }}</td>
      </tr>
    </table>
</div>
