.content{
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 0 0 30px -2px;
  padding: 10px;
  text-align: -webkit-center;
  display: grid;
}
.content textarea{
  resize: none;
  /*position: relative;*/
  top: 35px;
}

.content label {
  display: block;
  margin-bottom: 7px;
  /*text-align: left;*/
}

.content .loadFile {
  margin-top: 7px;
  margin-bottom: 10px;
}
.btn {
  display: block;
  height: 30px;
  padding: 5px;
}

.content input[type='file'] {
  display: block;
  margin-top: 7px;
  margin-bottom: 15px;
}

.floatLeft {
  float: left;
}
