<div class="content">
  <div class="">
    <label for="rawData">Input data</label>
    <textarea id="rawData" cols="50" rows="20" [(ngModel)]="inputDataText"></textarea>
    <button class="btn loadFile" (click)="btnLoadContentsClick()">Load Contents From File</button>
    <input id="fileInput" type=file (change)="OnFileRead($event)" style="display: none;">
    <button (click)="ParseData()" class="btn">Create Schedule Track</button>
  </div>

  <div class="">
    <table *ngIf="debugMode && talks && talks.length">
      <tr *ngFor="let talk of talks">
        <td>{{ talk.Title }}</td>
        <td>{{ talk.Duration }} minutes</td>
      </tr>
    </table>
    <ul *ngIf="inputErrors && inputErrors.length">
      <li *ngFor="let inputError of inputErrors">{{ inputError }}</li>
    </ul>
  </div>
</div>
